{% extends 'base.html.twig' %}

{% block title %}La liste des aides{% endblock %}

{% block body %}

{% if help %}
<h1> Liste des aides</h1>
<table id="help" class="table table-striped"> 
<thead>
<tr>
<th>#</th>
<th>Nom</th>
<th>Type</th>
<th>Actions</th>
</tr>
</thead>
<tbody> 

{% for help in help %}
<tr> 
<td> {{ help.id }} </td>
<td> {{ help.name }} </td>
<td> {{ help.type}} </td>
<td> 
<a href="/help/{{ help.id }}" class="btn btn-outline-primary">Voir</a>

<a href="/help/update/{{ help.id }}" class="btn btn-outline-secondary">Modifier</a>

<a href="#" class="btn btn-outline-danger delete-help" data-id="{{ help.id }}">Supprimer</a> 

<a href="/help/add" class="btn btn-outline-success">Ajouter</a>

</td>
</tr>
 {% endfor %}
</tbody>
</table>
{% else  %}
<p> La liste des aides est vide</p>

{% endif %}

{% endblock %}

{% block javascripts %}
<script src="/js/main.js">  </script>

{% endblock %}

