{% extends 'base.html.twig' %}

{% block title %}La liste des aides!{% endblock %}

{% block body %}
 
<h1> {{ help.id }} </h1>
<p> {{ help.name }} </p>
<p> {{ help.description }} </p>

{% for  help in help.getRequirement %}
 <td> {{ help.name }} </td>
 {% endfor %}

{% for  help in help.getSociety %}
 <td> {{ help.name }} </td>
 {% endfor %}

{% for  help in help.getTag %}
 <td> {{ help.name }} </td>
 {% endfor %}


<a href="/help_list" class="btn 
btn-dark">Retour</a>

{% endblock %}

{# templates/help/show.html.twig #}