{% extends 'base.html.twig' %}

{% block title %}La liste des aides fianciéres{% endblock %}

{% block body %}

{% if society %}
<h1> Liste des aides fianciéres</h1>
<table id="finance_help" class="table table-striped"> 
<thead>
<tr>
<th>#</th>
<th>phone</th>
<th>name</th>
<th>type</th>
<th>website</th>
<th>Actions</th>
</tr>
</thead>
<tbody> 

{% for society in society %}
<tr> 
<td> {{ society.id }} </td>
<td> {{ society.phone }} </td>
<td> {{ society.name }} </td>
<td> {{ society.type }} </td>
<td> {{ society.website }} </td>
<td> 
<a href="/society/{{ society.id }}" class="btn btn-outline-primary">Voir</a>

<a href="/society/update/{{ society.id }}" class="btn btn-outline-secondary">Modifier</a>

<a href="#" class="btn btn-outline-danger delete-society" data-id="{{ society.id }}">Supprimer</a> 

<a href="/society/add" class="btn btn-outline-success">Ajouter</a>



</td>
</tr>
 {% endfor %}
</tbody>
</table>
{% else  %}
<p> La liste des sociétés est vide</p>

{% endif %}

{% endblock %}

{% block javascripts %}
<script src="/js/main.js">  </script>

{% endblock %}

