{% extends 'base.html.twig' %}

{% block title %}La liste des cartes{% endblock %}

{% block body %}

{% if card %}
<h1> Liste des cartes</h1>
<table id="card" class="table table-striped"> 
<thead>
<tr>
<th>#</th>
<th>Nom</th>
<th>Description</th>
<th>Societé </th>
<th>Actions</th>
</tr>
</thead>
<tbody> 

{% for card in card %}
<tr> 
<td> {{ card.id }} </td>
<td> {{ card.name }} </td>
<td> {{ card.description|u.truncate(40, '...')}} </td>
{% for  card in card.getSociety %}
 <td> {{ card.name }} </td>
 {% endfor %}
<td> 
<a href="/card/{{ card.id }}" class=" fa fa-eye"></a>
<a href="/card/update/{{ card.id }}" class=" fa fa-edit"></a>
<a href="#" class=" fa fa-trash delete-card" data-id="{{ card.id }}"></a>  
<a href="/card/add" class=" fa fa-plus"></a>

</td>
</tr>
 {% endfor %}
</tbody>
</table>
{% else  %}
<p> La liste des cartes est vide</p>

{% endif %}

{% endblock %}

{% block javascripts %}
<script src="/js/main2.js">  </script>

{% endblock %}

