{% extends 'base.html.twig' %}

{% block title %}La liste des bon plans{% endblock %}

{% block body %}

{% if good_plan %}
<h1> Liste des bon plans</h1>
<table id="good_plan" class="table table-striped"> 
<thead>
<tr>
<th>#</th>
<th>Nom</th>
<th>Adresse</th>
<th>Société</th>
<th>Description</th>
<th>Actions</th>
</tr>
</thead>
<tbody> 

{% for good_plan in good_plan %}
<tr> 
<td> {{ good_plan.id }} </td>
<td> {{ good_plan.name }} </td>
<td> {{ good_plan.address.address }} </td>
<td> {{ good_plan.society.name }} </td>
<td> {{ good_plan.description|u.truncate(40, '...')}} </td>
<td> 
<a href="/good_plan/{{ good_plan.id }}" class="fa fa-eye"></a>
<a href="/good_plan/update/{{ good_plan.id }}" class=" fa fa-edit"></a>
<a href="#" class=" fa fa-trash delete-good_plan" data-id="{{ good_plan.id }}"></a>  
<a href="/good_plan/add" class=" fa fa-plus"></a>

</td>
</tr>
 {% endfor %}
</tbody>
</table>
{% else  %}
<p> La liste des bon plan est vide</p>

{% endif %}

{% endblock %}

{% block javascripts %}
<script src="/js/main2.js">  </script>

{% endblock %}

