{% extends 'base.html.twig' %}

{% block title %}La liste des bon plans !{% endblock %}

{% block body %}
 
<h1> {{ good_plan.id }} </h1>
<p> {{ good_plan.name }} </p>
<p> {{ good_plan.society.name}} </p>
<p> {{ good_plan.address.address}} </p>
<p> {{ good_plan.description }} </p>

<a href="/good_plan_list" class="btn 
btn-dark">Retour</a>

{% endblock %}

{# templates/good_plan/show.html.twig #}