{% extends 'base.html.twig' %}

{% block title %}La liste des adresses!{% endblock %}

{% block body %}
 
<h1> {{ adress.id }} </h1>
<p> {{ adress.postalCode }} </p>
<p> {{ adress.streetNumber }}</p>
<p> {{ adress.city }} </p>
<p> {{ adress.country }} </p>
<p> {{ adress.country }} </p>
<p>{{ adress.name }}</p>

<a href="/adress_list" class="btn 
btn-dark">Retour</a>

{% endblock %}
