{% extends 'base.html.twig' %}

{% block title %}La liste des lieux à découvrir{% endblock %}

{% block body %}

{% if place %}
<h1> Liste des lieux à découvrir</h1>
<table id="news" class="table table-striped"> 
<thead>
<tr>
<th>#</th>
<th>Nom</th>
<th>Date</th>
<th>Description</th>
<th>Société</th>
<th>Actions</th>
</tr>
</thead>
<tbody> 

{% for place in place %}
<tr> 
<td> {{ place.id }} </td>
<td> {{ place.name }} </td>
<td> {{ place.date|date('Y-m-d') }} </td> 
<td> {{ place.description|u.truncate(40, '...')}} </td>
<td> {{ place.society.name}} </td>

<td> 
<a href="/place/{{ place.id }}" class="btn fa fa-eye"></a>
<a href="/place/update/{{ place.id }}" class="btn fa fa-refresh"></a>
<a href="#" class="btn fa fa-trash delete-place" data-id="{{ place.id }}"></a>  
<a href="/place/add" class="btn fa fa-plus"></a>

</td>
</tr>
 {% endfor %}
</tbody>
</table>
{% else  %}
<p> La liste des lieux à découvrir est vide</p>

{% endif %}

{% endblock %}

{% block javascripts %}
<script src="/js/main2.js">  </script>

{% endblock %}
