{% extends 'base.html.twig' %}

{% block title %}La liste des adresses {% endblock %}

{% block body %}

{% if address %}
<h1> Liste des adresses</h1>
<table id="address" class="table table-striped"> 
<thead>
<tr>
<th>#</th>
<th>Code postal</th>
<th>N° de rue</th>
<th>Adresse</th>
<th>Ville</th>
<th>Pays</th>

<th>Actions</th>
</tr>
</thead>
<tbody> 

{% for address in address %}
<tr> 
<td> {{ address.id }} </td>
<td> {{ address.postalCode }} </td>
<td> {{ address.streetNumber }} </td>
<td> {{ address.address }} </td>
<td> {{ address.city }} </td>
<td> {{ address.country }} </td>
<td> 
<a href="/address/{{ address.id }}" class=" fa fa-eye"></a>

<a href="/address/update/{{ address.id }}" class=" fa fa-edit"></a>

<a href="#" class=" fa fa-trash delete-address" data-id="{{ address.id }}"></a> 

<a href="/address/add" class=" fa fa-plus"></a>

</td>
</tr>
 {% endfor %}
</tbody>
</table>
{% else  %}
<p> La liste des adresses est vide</p>

{% endif %}

{% endblock %}

{% block javascripts %}
<script src="/js/main.js">  </script>

{% endblock %}

