{% extends 'base.html.twig' %}

{% block title %}La liste des adresses!{% endblock %}

{% block body %}
 
<h1> {{ address.id }} </h1>
<p> {{ address.postalCode }} </p>
<p> {{ address.streetNumber }}</p>
<p> {{ address.city }} </p>
<p> {{ address.country }} </p>
<p> {{ address.country }} </p>
<p>{{ address.name }}</p>

<a href="/address_list" class="btn 
btn-dark">Retour</a>

{% endblock %}
